---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-garage-dimedis-io-v1alpha1-garagecluster
  failurePolicy: Fail
  name: vgaragecluster.kb.io
  rules:
  - apiGroups:
    - garage.dimedis.io
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - garageclusters
  sideEffects: None
